                <div class="container-bodycopy">
                    <ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('austria_4_40')">AUSTRIA</a></span></li>
                            <ul>
                                <li>GERMAN</li>
                                <li>UNKNOWN@@@AUSTRIA@Informativa International_MARNI MOON_EN Clean 20.09.2021.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('corea_4_40')">COREA</a></span></li>
                            <ul>
                                <li>English</li>
                                <li>UNKNOWN@@@COREA@Informativa Privacy_Corea_Marni Moon_EN_Clean.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('francia_4_40')">FRANCIA</a></span></li>
                            <ul>
                                <li>FRENCH</li>
                                <li>UNKNOWN@@@FRANCIA@Informativa privacy_Francia_Marni Moon_EN_Clean.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('germania_4_40')">GERMANIA</a></span></li>
                            <ul>
                                <li>GERMAN</li>
                                <li>UNKNOWN@@@GERMANIA@Informativa Privacy_Germania_Marni Moon_ EN_ Clean.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('giappone_4_40')">GIAPPONE</a></span></li>
                            <ul>
                                <li>UNKNOWN@@@GIAPPONE@Informativa Privacy_Giappone_Marni Moon_EN_Clean.html</li>
                                <li>UNKNOWN@@@GIAPPONE@Marni Moon-JAPAN-consent_form-digital_Clean.html</li>
                                <li>UNKNOWN@@@GIAPPONE@Marni_Privacy_Notice_jp.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('international_4_40')">INTERNATIONAL</a></span></li>
                            <ul>
                                <li>UNKNOWN@@@INTERNATIONAL@Informativa International_MARNI MOON_EN Clean 20.09.2021.html</li>
                                <li>ITALIAN</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('italia_4_40')">ITALIA</a></span></li>
                            <ul>
                                <li>UNKNOWN@@@ITALIA@Informativa privacy_Italia_Marni Moon_EN_Clean 21.09.2021.html</li>
                                <li>ITALIAN</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('spagna_4_40')">SPAGNA</a></span></li>
                            <ul>
                                <li>UNKNOWN@@@SPAGNA@Informativa Privacy_Spagna_Marni Moon_EN_Clean.html</li>
                                <li>English</li>
                                <li>SPANISH</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('uk_4_40')">UK</a></span></li>
                            <ul>
                                <li>UNKNOWN@@@UK@Informativa Privacy_UK_Marni Moon_EN_Clean_21.09.2021.html</li>
                            </ul>
                        <li><span class="ctabutton"><a title="" ng-click="vm.scrollTo('usa_4_40')">USA</a></span></li>
                            <ul>
                                <li>UNKNOWN@@@USA@DIGITAL_CONSENT_Marni USA_Clean 21.09.2021.html</li>
                                <li>UNKNOWN@@@USA@Informativa Privacy_USA_Marni Moon_EN_Clean 21.09.2021.html</li>
                                <li>English</li>
                                <li>English</li>
                            </ul>
                    </ul>
                </div>
